@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
    --auxiliar: #494949;
    --primary:#241744;
    --secondary: #673AB7;
    --transition: #D1C4E9;
    --letter: #ffff;
    --letter-transition: #000;
    --base:#c5c5c5;
    --green: #50c54e;
    --orange: #f3923d;
    --red:#e91e1e;
}

body{
    background-color: var(--auxiliar);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*estilo para la barra del encabezado*/
header{
    width: 100%;
    height: 80px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilos para el contenedor de los elementos de menu y el logo*/
header .header-left{
    display: flex;
    align-items: center;
    margin: 15px;
}

header .header-left .menu{
    margin: 10px;
    padding: 10px 20px;
    width: 140px;
    height: 50px;
    background-color: var(--secondary);
    border-radius: 5px;
}

header .header-left .menu:hover{
    width: auto;
    background-color: var(--transition);
    color: var(--letter-transition);
}

header .header-left .menu a{
    text-decoration: none;
    color: var(--letter) ;
    transition: all 0.6s linear;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 22px;
}

header .header-left .menu a:hover{
    text-decoration: underline;
    color: var(--letter-transition);
}

header .header-left .menu i{
    color: var(--letter);
    font-size: 22px;
}

header .header-left img{
    width: 170px;
    height: 70px;
    margin-left: 15px;
}

/*estilos para el contenedor de los botones del usuario*/
header .user{
    display: flex;
    align-items: center;
    margin: 10px 45px;
}

header .user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.buttons{
    width: 135px;
    height: 40px;
    background: var(--secondary);
    border-radius: 15px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--letter);
    cursor: pointer;
    margin-left: 15px;
}

.buttons:hover{
    border: 3px solid var(--secondary);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    color: var(--letter-transition);
    background-color: var(--transition);
}

/*estilo para el contenedor del fondo*/
.container{
    background-image: url(../img/fondo.jpg);
    width: 100%;
}

/*estilos para el contenedor de los elementos de busqueda*/
.container .search{
    width: 95%;
    height: 180px;
    margin: auto;
    background: var(--primary);
    opacity: 0.9;
    padding: 30px 35px;
    color: var(--letter);
}

.container .search form{
    text-align: center;
    padding: 10px;
}

.search form input{
    width: 85%;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--secondary);
    font-size: 16px;
    border-radius: 50px;
    margin-left: 10px;
    font-family: inherit;
    padding: 15px 20px;
    color: var(--letter);
}

.search form input:focus{
    outline: 0;
    background-color: var(--secondary);
}

/*estilos para el contenedor donde estan alojadas las tarjetas de las peliculas*/
.container .movie{
    width: 95%;
    margin: auto;
    background: var(--base);
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*contenedor principal de las tarjetas de las peliculas*/
.movie .cards-movies{
    width: 300px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.5);
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
}

.cards-movies img{
    width: 100%;
}

.movie-info{
    color:var(--letter);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    letter-spacing: 1px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/*cambio de colores en el contenido del span dependiendo de la calificacion*/
.movie-info span.green{
    color: var(--green);
}

.movie-info span.orange{
    color: var(--orange);
}

.movie-info span.red{
    color: var(--red);
}

/*descripcion de la pelicula*/
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--letter);
    padding: 10px;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
}

.cards-movies:hover .overview{
    transform: translateY(0);
}

.overview h3{
    color: var(--secondary);
    text-align: center;
    letter-spacing: 1px;
}

.overview span{
    float: right;
}

/*contenedor de la navegación de la pagina*/
.container .page-navigation{
    width: 95%;
    height: 80px;
    margin: auto;
    padding: 20px;
    background: var(--primary);
    opacity: 0.9;
    text-align: center;
}

/*contenedor del pie de página*/
footer{
    width: 100%;
    height: 180px;
    background: var(--primary);
    text-align: center;
    color: var(--letter);
    padding: 30px;
    font-size: 18px;
}